.danke_header{
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  background: #fff;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  height: 55px;
  position: relative;
}

.nav_warp{
  width: 1190px;
  margin: 0 auto;
}
.fl{
  float: left
}
.logo{
  padding-top: 0;
  display: block;
}
.grline{
  height: 28px;
  width: 1px;
  background: url(/public/greline.png) no-repeat;
}
.dkcity{
  width: 104px;
  margin-top: 0px;
  position: relative;
  margin-left: 4%;
}
.nav_channel{
  line-height: 55px;
  padding-left: 30px;
  display:flex;
  //justify-content:space-between;
  align-items: center;
  font-size: 17px;
}
.serphone{
  padding: 8px 0 0;
  height: 55px;
}
.danke_header .shadow {
  position: absolute;
  left: 0;
  bottom: -2px;
  right: 0;
  width: 100%;
  height: 2px;
  border-top: 1px solid #e6e6e6;
  background-color: rgba(0,0,0,.06);
  overflow: hidden;
}
a:active, a:hover, a:link, a:visited{
  text-decoration: none;
}
.fr {
  float: right;
}
.phonetime{
  background: url(/public/phoneico.png) no-repeat 0 1px;
  line-height: 16px;
  color: #666;
  padding: 0 0 0 18px;
  font-size: 10px;
}
.phonenum{
  font-size: 20px;
  line-height: 26px;
  color: #4bb4bb;
  font-weight: 700;
  text-align: right;
}
.nav_channel ul li a.active {
  background: #4bb4bb;
  color: #fff;
  font-weight: 700;
}
.dkcity ul {
  display: none;
}
abbr, acronym, address, applet, blockquote, body, caption, cite, code, col, colgroup, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, label, legend, li, object, ol, p, span, strike, strong, summary, table, tbody, td, tfoot, th, thead, tr, ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Hiragino Sans GB","Microsoft Yahei UI","Microsoft Yahei",'微软雅黑',"Segoe UI",'Tahoma','宋体b8b体','SimSun',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a {
  background-color: transparent;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: auto;
  text-decoration: underline;
}
.nav_channel ul li a.active {
  background: #4bb4bb;
  color: #fff;
  font-weight: 700;
}
a:active, a:hover, a:link, a:visited {
  text-decoration: none;
}
a {
  cursor: pointer;
  text-decoration: none;
  outline: 0;
}

a {
  background-color: transparent;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: auto;
  text-decoration: underline;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.user{
  font-size: 18px;
  line-height: 26px;
  color: #4bb4bb;
  font-weight: 700;
  text-align: right;
  margin-top: 7px;
  position: absolute;
  top: 5px;
  right: 100px;
}
.dkcity span {
  display: block;
  cursor: pointer;
  height: 26px;
  border: 1px solid #4bb4bb;
  border-radius: 14px;
  line-height: 26px;
  color: #4bb4bb;
  text-indent: 8px;
  font-size: 14px;
  background: #fff no-repeat 78px center;
}

.dkcity ul {
  display: none;
}
dd, dl, dt, li, ol, ul {
  display: block;
  list-style: none;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dkcity .dropdown-menu {
  position: absolute;
  min-width: 102px;
}
.open>.dropdown-menu {
  display: block;
}
.dkcity ul {
  display: none;
}