.wrapper {
    width: 1190px;
    margin: 0 auto;
}
.filter_options {
    width: 1000px;
    padding: 20px 0 15px;
}
.dl_lst {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    padding-left: 50px;
}
.option_list {
    line-height: 36px;
}
.option_list a {
    display: block;
    line-height: 24px;
    font-size: 14px;
    height: 24px;
    margin-top: 6px;
    padding: 0 12px;
    float: left;
    color: #333;
}
a:active, a:hover, a:link, a:visited {
    text-decoration: none;
}
.option_list .onlist {
    font-weight: 700;
    border-radius: 12px;
    background: #4bb4bb;
    color: #fff;
}
.dl_lst dt {
    float: left;
    width: 50px;
    line-height: 36px;
    font-size: 14px;
    color: #666;
}
.roomlist {
    border: 1px solid #e6e6e6;
    border-top: 2px solid #4bb4bb;
    margin-top: 20px;
    padding: 70px 30px 30px;
    margin-bottom: 20px;
    position: relative;
}
.r_ls a {
    display: block;
    width: 98px;
    height: 39px;
    border-right: 1px solid #ccc;
    text-align: center;
    font-size: 14px;
    line-height: 39px;
    color: #333;
    position: relative;
    float: left;
}
.r_ls a.ck_on {
    border-right: 1px solid #ccc;
    color: #4bb4bb;
    background: #fff;
}
.roomlist .r_ls {
    padding: 0 0 30px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    background: #f9f9f9;
    border-bottom: 1px solid #e6e6e6;
    top: 0;
    left: 0;
    padding: 0;
}
.sub_option_list {
    margin: 8px 0;
    padding: 6px 12px;
    background-color: #fbfbfb;
    border: 1px solid #ddd;
    line-height: 20px;
    float: left;
    clear: both;
    width: 922px;
    border-radius: 3px;
    display: none;
}
.sub_option_list a {
    padding: 0 6px;
    display: inline-block;
    color: #333;
    font-size: 14px;
    line-height: 26px;
}
.r_lbx {
    border-bottom: 1px solid #e6e6e6;
    padding: 0 0 30px 0;
    overflow: hidden;
    margin-bottom: 30px;
}
.r_lbx a.rimg {
    float: left;
    width: 300px;
    height: 225px;
    overflow: hidden;
    display: inline-block;
}
.r_lbx a.rimg {
    position: relative;
}
a:active, a:hover, a:link, a:visited {
    text-decoration: none;
}
a {
    cursor: pointer;
    text-decoration: none;
   // hide-focus: expression(this.hideFocus=true);
    outline: 0;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.r_lbx_cen {
    float: left;
    padding-left: 30px;
    width: 500px;
}
.r_lbx_money {
    float: right;
    width: 170px;
}
.r_lbx_cena {
    font-size: 16px;
    color: #333;
    line-height: 45px;
}
.r_lbx_cenb {
    line-height: 30px;
    font-size: 14px;
    padding: 10px;
    background: #f9f9f9;
    color: #333;
}
.r_lbx_cenc {
    overflow: hidden;
    padding-top: 20px;
}
.ty_b {
    font-size: 26px;
    font-weight: 700;
    color: #f30;
    letter-spacing: -1px;
}
.r_lbx a.lk_more {
    border: 1px solid #4bb4bb;
    border-radius: 3px;
    width: 170px;
    display: block;
    line-height: 36px;
    font-size: 16px;
    text-align: center;
    color: #4bb4bb;
    margin: 10px auto 0;
    clear: both;
    float: initial;
}
.r_lbx_cen a {
    font-size: 20px;
    line-height: 28px;
    color: #333;
    font-weight: 700;
    height: 60px;
    padding-top: 5px;
}
.r_lbx_cenb em, .r_lbx_cenb i {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #ff818a;
    color: #fff;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
em, i {
    font-style: normal;
}
.r_lbx_cenc span {
    font-size: 14px;
    border: 1px solid #4bb4bb;
    display: block;
    line-height: 28px;
    padding: 0 10px;
    float: left;
    margin-right: 14px;
    color: #4bb4bb;
}
//合租
.r_lbx_cenb em, .r_lbx_cenb i {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #ff818a;
    color: #fff;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.r_lbx_cenb i {
    background: #77d0d7;
}
em, i {
    font-style: normal;
}
