.container{
  padding: 24px 16px 0 16px;
  margin-bottom: 16px;
  background: #f8f8f8;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  margin:auto;
  width:99%;
}
body{
  background-color: #b9cdec1f;
}
.main-body{

  position: absolute;
  width: 100%;
  bottom: 0px;
  top: 80px;
}
.form-body{
  width: 99%;
  margin:auto;
}
.label-class{
  display: inline-block ;
  min-width: 90px;
}
.gloabl-loading{
  position: absolute;
  top: 50%;
  width: 50%;
  margin-left: 25%;
  display: block;
  z-index: 111111;
}
.select{
  margin-left:10px;
  margin-top: -10px;

}
.btn{
  width: 118px;
  margin: 10px;
  float: right;
}
.btl{
  width: 96%;
  margin:auto;
}
.addBtn{
  margin: 10px;
  width: 100px;
  margin-bottom: 10px;
  margin-top: 26px;
  margin-left: 13px;
}
.limitable{
  margin:auto;
  width:99%;
}

.input-style{
  width: 120px;
}
.selects-style {
  width: 120px!important;
  display: inline-block;
  margin: 0px 20px 0px 0px;
  vertical-align: inherit;
}
.container-body{
  padding: 24px 16px 0 16px;
  margin-bottom: 16px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
}
.title-style{
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 16px;
  margin-left: 18px;
}
.navigation{
  float: left;
  top: 0;
  position: fixed;
}