.container{
  padding: 24px 16px 0 16px;
  margin-bottom: 16px;
  background: #f8f8f8;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  margin:auto;
  width:99%;
}
.select,.selBtn{
  margin-left:40px;
  margin-top: -10px;

}
.btn{
  margin-left: 1087px;
  width: 118px;
  margin-bottom: 20px;
  margin-top: 18px;
}
.addBtn{
  margin: 10px;
  width: 100px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.limitable{
  margin:auto;
  width:99%;
}
.input-style{
  width: 120px!important;
}
.selects-style {
  width: 120px!important;
}


