.container{
  padding: 24px 16px 0 16px;
  margin-bottom: 16px;
  background: #f8f8f8;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  margin:auto;
  width:99%;
}
body{
  background-color: #b9cdec1f;
}
.main-body{

  position: absolute;
  width: 100%;
  bottom: 0px;
  top: 80px;
}
.form-body{
  width: 99%;
  margin:auto;
}
.label-class{
  display: inline-block ;
  min-width: 90px;
}
.gloabl-loading{
  position: absolute;
  top: 50%;
  width: 50%;
  margin-left: 25%;
  display: block;
  z-index: 111111;
}
.select{
  margin-left:10px;
  margin-top: -10px;

}
.btn{
  width: 118px;
  margin: 10px;
  float: right;
}
.btl{
  width: 96%;
  margin:auto;
}
.addBtn{
  margin: 10px;
  width: 100px;
  margin-bottom: 10px;
  margin-top: 26px;
  margin-left: 13px;
}
.limitable{
  margin:auto;
  width:99%;
}

.input-style{
  width: 120px;
}
.selects-style {
  width: 120px!important;
  display: inline-block;
  margin: 0px 20px 0px 0px;
  vertical-align: inherit;
}
.container-body{
  padding: 24px 16px 0 16px;
  margin-bottom: 16px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
}
.title-style{
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 16px;
  margin-left: 18px;
}
.navigation{
  float: left;
  top: 0;
  position: fixed;
}
//走马灯
.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}
.g-center {
  justify-content: center;
  align-items: center;
  display: flex;
}
//搜索框
.sear_menu{
  height: 50px;
  height: 48px!important;
  border: 2px solid #4bb4bb;
  border-radius: 4px;
  width: 600px;
  position: relative;
  float: left;
}
.sear_input{
  float: left;
  display: block;
  border: none;
  background: 0 0;
  height: 46px;
  padding: 5px 0;
  line-height: 36px;
  width: 470px;
  text-indent: 12px;
  font-size: 16px;
}
.search_btn {
  border: none;
  background: 0 0;
  background: #49a9ee;
  height: 46px;
  width: 120px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  line-height: 46px;
  float: right;
  cursor: pointer;
  border-radius: 5px;
}
.allroom {
  background: #fff;
  height: 50px;
  border: 2px solid #4bb4bb;
  border-radius: 4px;
  width: 120px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #4bb4bb;
  line-height: 50px;
  float: right;
  cursor: pointer;
}
.s_box {
  margin: 40px auto 0;
  width: 740px;
  overflow: hidden;
}
.col_row {
  padding: 40px 0;
}
.title_sec {
  font-size: 22px;
  line-height: 38px;
  text-align: center;
  font-weight: 700;
}
.gred9 {
  color: #999;
  font-size: 16px;
}
ol, ul {
  list-style: none;
}
.col_row ul {
  margin: 10px 0 30px;
  text-align: center;
}
dl, h1, h2, h3, h4, h5, h6, ol, p, ul {
  display: block;
  text-align: left;
  color: #333;
  font-weight: 400;
}
.col_row ul li a {
  display: block;
  width: 100%;
  color: #333;
}
abbr, acronym, address, applet, blockquote, body, caption, cite, code, col, colgroup, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, label, legend, li, object, ol, p, span, strike, strong, summary, table, tbody, td, tfoot, th, thead, tr, ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Hiragino Sans GB","Microsoft Yahei UI","Microsoft Yahei",'微软雅黑',"Segoe UI",'Tahoma','宋体b8b体','SimSun','sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.col_row {
  padding: 40px 0;
}
.room_ti a {
  color: #333;
}
._box {
  width: 380px;
  float: left;
  margin-right: 25px;
}
.room_pro {
  width: 1300px;
  overflow: hidden;
  display: none;
}
.roo_ads {
  font-size: 14px;
  color: #666;
  font-weight: 700;
  line-height: 30px;
  margin: 5px;
}
.fl {
  float: left;
}
.room_money {
  font-size: 16px;
  font-weight: 700;
  color: #f30;
  line-height: 30px;
  margin: 5px;
}
.fr {
  float: right;
}
a:active, a:hover, a:link, a:visited {
  text-decoration: none;
}
a {
  cursor: pointer;
  text-decoration: none;
 // hide-focus: expression(this.hideFocus=true);
  outline: 0;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a {
  background-color: transparent;
}
#oneTabContent .active {
  //display: block;
}
.room_pro_box {
  width: 380px;
  float: left;
  margin-right: 25px;
}
html>body img {
  margin-bottom: 0;
}
.room_ti {
  font-size: 18px;
  height: 34px;
  line-height: 22px;
  padding: 10px;
  font-weight: 700;
}
.room_money span {
  color: #999;
  font-weight: 400;
  font-size: 14px;
  padding-left: 6px;
}
.blocklook {
  display: block;
}
.lk_more a {
  display: inline-block;
  margin: 0 5px;
  border: 1px solid #4bb4bb;
  background: #fff;
  line-height: 28px;
  font-size: 14px;
  color: #4bb4bb;
  width: 110px;
  border-radius: 15px;
  cursor: pointer;
}
.lk_more {
  padding: 40px 0 0;
  text-align: center;
}
//首页而底部
.line {
  border-top: 1px solid #e6e6e6;
  height: auto;
  margin: 0 auto;
  margin-top: 80px;
  max-width: 1190px;
}
.clear {
  height: 1px;
  margin-top: -1px;
  clear: both;
  line-height: 1px;
  font-size: 1px;
  overflow: hidden;
}
.col_row {
  padding: 40px 0;
}
.title_sec {
  font-size: 22px;
  line-height: 38px;
  text-align: center;
  font-weight: 700;
}
.gred3 {
 color: #333;
}
.col_row p {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
.gred9 {
  color: #999;
}